* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} /*Ajuste perfecto a la pantalla*/

#pantallaCompletaTrabajo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(wanted.jpg);
    background-size: 100%;
    background-position: center;
}

/*SECCIONES*/
#seccionesTrabajo {
    display:flex;
    flex-direction: row;
    justify-content:center;
    gap:30px;
    background-color: rgba(46, 46, 46, 0);
    width: auto;
    height:auto;
    margin:100px;
}
.seccion {
    display:flex;
    flex-direction: column;
    background-color:rgba(208, 178, 122, 0.744);
    color: rgb(65, 2, 38);
    text-align: center;
    align-items: stretch; 
    justify-content: space-between;  /*Para que salga a la misma altura el texto*/
    border: solid rgba(19, 15, 15, 0.801);
    border-radius: 10%;
    border-width: 4px;
    padding: 20px;
    margin: 10px;
}
.h2Seccion {
    display:flex;
    flex-direction: column;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    padding: 8px;
    margin:2px;
    background: linear-gradient(45deg, #3d0126, #460104);
    -webkit-background-clip: text; /*el texto se ve degradado*/
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.textoTrabajo {
display:flex;
flex-direction: column;
margin:5%;
padding:8px;
text-align: center;
justify-content: flex-start;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 18px;
font-weight: bold;
}

/*SOLICITUD DE EMPLEO*/
#pantallaTrabajo2{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#solicitudEmpleo{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.607);
    border-radius: 10%;
    height: auto;
    width: 40%;
    margin: 50px;
    padding: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.sobreti-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-sobreti {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.form-sobreti label {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #f1f1f1;
}
.form-sobreti input {
    padding: 10px 12px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 1.2rem;
}
.form-sobreti textarea {
    min-height: 150px;     /* altura grande */
    padding: 12px;
    border-radius: 8px;
    border: none;
    resize: vertical;     /* permite agrandar solo hacia abajo */
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
}

/*FOOTER*/

footer {
display: flex;
flex-direction: column;
text-align:center;
height: 100%;
padding: 20px;
background-color: #1d1d1d;
color: white;
}


.footer-links a {
color: #ffb3b3;
margin: 0 10px;
text-decoration: none;
}


